html{
  background: url(https://www.freevector.com/uploads/vector/preview/17856/FreeVector-Marijuana-Background-Graphics.jpg);
  font-style: oblique;
  color: white;
  text-align: center;
}
section{
  background-color: tan;
  width:100%;
}
